.cajaPaso{
    background: #D2D2D2;
    height: 60px;
    padding-top: 10px;
    text-align: left;
    font-weight: bold;
}

.cajaPaso:last-child{
    text-align: center;
    line-height: 40px;
}

.recurda{
    border: solid 2px yellow;
    padding: 10px 10px 30px 10px;
    background: #ECF37E;
}

.fuerte{
    color: orange;
    display: inline;
}

.espacio{
    margin-top: 10px;
}

.cabeceraTabla{
    background: rgb(211, 205, 205);
}

li:active{
    background: #ADD8E6;
}

.icono{
    display: block;
    text-align: center;
    font-size: 60px;
    line-height: 500px;
}

.center{
    display: inline;

}

.tabla{
    padding-right: 0px!important;
}

.interrogante{
    display: inline;
    margin-right: 2px;
}